.navbar{
     display: flex;
     justify-content: space-around;
     padding: 16px;
     box-shadow: 0 1px 3px -2px black;
     background-color: #fffaf4;
}
.nav-logo{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(45, 43, 43);
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
/* .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: burlywood;
} */
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 157px;
    height: 50px;
    border: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background: #fffaf4;
    cursor: pointer;
}
.nav-login-cart button:active{
     color: rebeccapurple;
}
.nav-cart-count{
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: black;
    color: white;
}

/* Add these styles to your existing Navbar.css */

.logout-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logout-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logout-modal-content p {
  font-size: 18px;
  margin-bottom: 10px;
}

.logout-modal-content button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-modal-content button:hover {
  background-color: #fffaf4;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}